/* Styling admin page */
.admin-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Styling the header */
.admin-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
}
/* Styling the background of the form */
.admin-fix {
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}
/* Styling the form */
#form {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}
/* Styling the inputs */
#form input {
	width: 100%;
	border: none;
	padding: 10px;
	margin: 10px;
	border-bottom: 1px solid #83eaf1;
}
/* Styling the admin button */
.admin-btn {
	width: 100%;
	border: 2px solid #83eaf1;
	background-color: #fff;
	transition: 0.3s ease-in-out;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	color: #83eaf1;
}
/* Adding hover effects */
.admin-btn:hover {
	border-radius: 20px;
	background-color: #83eaf1;
	color: white;
}
