/* Styling the Landing Page */
#landing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
}
/* Styling the welcome container */
.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	flex-direction: column;
	padding: 10px;
	border-radius: 20px;
}

.landing-heading {
	font-size: 50px;
	padding: 10px;
	border-bottom: 2px solid #83eaf1;
}
/* Styling the image */
.landing-img {
	width: 200px;
	border-radius: 20px;
	object-fit: cover;
}
