/* Styling the login page */
.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	padding: 10px;
}
/* Styling the heading */
.login-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
}
/*  Styling the container */
.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	padding: 10px;
}
/* Styling the form */
#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	max-width: 100%;
}
/* Styling the inputs */
#form input {
	padding: 5px;
	margin: 10px;
	border: none;
	width: 100%;
	border-bottom: 1px solid #83eaf1;
}
/* Styling the button */
.login-btn {
	width: 100%;
	border: 2px solid #83eaf1;
	border-radius: 20px;
	background-color: #fff;
	transition: 0.3s ease-in-out;
	padding: 5px;
	margin: 10px;
	color: #83eaf1;
}
/* Adding the hover effect on the button */
.login-btn:hover {
	background-color: #83eaf1;
	color: white;
}
