/* Displaying all the patients */
#view-patients {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
}
/* Styling background */
.patients {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	padding: 5px;
}
/*  Styling the patients information */
.patient {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* Adding an effects to the patients to make it look like a card */
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 300px;
	margin: 1rem;
	position: relative;
	width: 300px;
	padding: 10px;
	height: 400px;
	transition: all 0.65s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* adding hover effects */
.card:hover {
	box-shadow: 0 14px 28px rgba(131, 234, 241, 0.25),
		0 10px 10px rgba(131, 234, 241, 0.22);
}
/* Styling the patients container */
.patient-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 5px;
	margin-top: 50px;
}
/* Styling the heading for View Patients */
.patient-heading {
	padding: 5px;
	margin: 10px;
}

/* Modal */
#modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Displays the information when the modal is active */
#modal.active {
	display: flex;
}
/* Styling the modal background */
.modal-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* Modal */
.add-appoint {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Displays information when the modal is active */
.add-appoint.active {
	display: flex;
}
/* Styling the modal background */
.add-appoint-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	height: 80%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Styling the modal inputs */
.add-appoint-bg input {
	border: none;
	border-bottom: 1px solid #83eaf1;
	padding: 5px;
	margin: 10px;
}

/* The Close Button */
.close {
	color: #83eaf1;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: fixed;
	top: 230px;
	right: 200px;
}
/* Adding effects to the close button */
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* Modal */
.show-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.show-modal.active {
	display: flex;
}
/* Styling the modal background */
.show-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* Modal */
.edit-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Displaying the information when the modal is active */
.edit-modal.active {
	display: flex;
}
/* Styling the modal background */
.edit-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* Styling the modal inputs */
.edit-bg input {
	border: none;
	border-bottom: 1px solid #83eaf1;
	padding: 5px;
	margin: 10px;
}
/* Modal */
.show-ill {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Displaying information when the modal is active  */
.show-ill.active {
	display: flex;
}

/* Modal Bacground */
.show-ill-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* Styling the modal background */
.show-ill-bg input {
	border: none;
	border-bottom: 1px solid #83eaf1;
}
/* Styling Sort */
.sort-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styling Patients Details */
.details {
	padding: 10px;
}

/* Modal */
.add-ill-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Displays the information when the modal is active */
.add-ill-modal.active {
	display: flex;
}

/* Modal Background */
.add-ill-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* Styling the inputs */
.add-ill-bg input {
	border: none;
	border-bottom: 1px solid #83eaf1;
	padding: 5px;
	margin: 10px;
}
/* Using grid to style the buttons */
.patients-btn-container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, 1fr);
	margin: 5px;
}
/* Styling the buttons */
.patients-btn {
	border: none;
	background-color: whitesmoke;
	transition: 0.3s ease-in-out;
	margin: 10px;
	padding: 5px;
	height: 40px;
	display: flex;
	width: 100px;
	justify-content: center;
	align-items: center;
}
/* Adding the effects to the button */
.patients-btn:hover {
	background-color: #83eaf1;
	color: white;
}
/* Styling the filter */
#filter {
	border: none;
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid #83eaf1;
}
/* Styling the filter */
#patients-sort {
	border: none;
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid #83eaf1;
}
/* Styling the button */
.sorted-btn {
	border: none;
	background-color: #83eaf1;
	color: #fff;
	padding: 5px;
	margin: 5px;
	transition: 0.3s ease-in-out;
}
/* Adding the hover effects */
.sorted-btn:hover {
	background-color: #fff;
	color: black;
}
/* Styling the button */
.filter-btn {
	border: none;
	background-color: #83eaf1;
	color: #fff;
	padding: 5px;
	margin: 5px;
	transition: 0.3s ease-in-out;
}
/* Adding hover effects to button */
.filter-btn:hover {
	background-color: #fff;
	color: black;
}
