#view-patients {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
}

.patients {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	padding: 5px;
}

.patient {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 300px;
	margin: 1rem;
	position: relative;
	width: 300px;
	padding: 10px;
	height: 400px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.patient-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	padding: 5px;
	margin-top: 50px;
}

.patient-heading {
	padding: 5px;
	margin: 10px;
}

/* Modal */
#modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal.active {
	display: flex;
}

.modal-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.add-appoint {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.add-appoint.active {
	display: flex;
}

.add-appoint-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	flex-direction: column;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: fixed;
	top: 150px;
	right: 110px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.show-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.show-modal.active {
	display: flex;
}

.show-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.edit-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.edit-modal.active {
	display: flex;
}

.edit-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.show-ill {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.show-ill.active {
	display: flex;
}

/* Modal Bacground */
.show-ill-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sort-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.details {
	padding: 10px;
}

.show-details {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Modal */
.add-ill-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.add-ill-modal.active {
	display: flex;
}

/* Modal Background */
.add-ill-bg {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.patients-btn-container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, 1fr);
	margin: 5px;
}
.patients-btn {
	border: none;
	background-color: whitesmoke;
	transition: 0.3s ease-in-out;
	margin: 10px;
	padding: 5px;
}

.patients-btn:hover {
	background-color: #83eaf1;
	color: white;
}
