/* Styling the form page */
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
}
/* Styling the form background */
.fix-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	padding: 15px;
	margin-top: 50px;
}
/* Styling the header */
.register-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	margin: 10px;
}
/* Styling the form  tag */
#form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 10px;
	margin: 10px;
}
/* Styling the input tag */
#form input {
	border: none;
	padding: 10px;
	margin: 10px;
	width: 100%;
	border-bottom: #83eaf1 1px solid;
}
/* Styling Select tag */
#form select {
	border: none;
	padding: 10px;
	margin: 10px;
	width: 100%;
	border-bottom: #83eaf1 1px solid;
}
/* Styling Buttons */
.register-btn {
	width: 77%;
	border: 2px solid #83eaf1;
	padding: 5px;
	margin: 10px;
	background-color: white;
	transition: 0.3s ease-in-out;
	border-radius: 20px;
}
/* Adding hover effect to the buttons */
.register-btn:hover {
	background-color: #83eaf1;
	color: white;
}
